// Roboto Font
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
//$font-family-base: 'Raleway', sans-serif;

$body-bg: #ccc;

@import "bootstrap";


// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
}

#map-column {
}

#stuff-column {
  padding-top: 20px;
}


/*
 * Formatting for d3 histogram
 */
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill:none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
