// Roboto Font
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
//$font-family-base: 'Raleway', sans-serif;

$brand-primary: #aaaaaa;

$body-bg: #ccc;


@import "bootstrap";


@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
}

#main-container {
    margin-bottom: 50px;
    margin-right: 0;
}

#left-column {
    height: 0px;
}

#right-column {
    z-index: 100;
    padding-top: 20px;
}

.TrainsPanel .panel-body, .InputsPanel .panel-body {
  padding: 5px;
}

.navbar {
    background-color: $brand-primary;
}

#attribution {
  position: absolute;
  top: -40px;
  z-index: 1000;
  height: 40px;
  a {
    height: inherit;
    img {
      padding: 3px;
      height: inherit;
    }
  }
}

.leaflet-label {
  z-index: 1000 !important;
  border-color: rgba(7, 14, 255, 0.44) !important;
  background: white !important;
}
// Panel > FormGroup

.InputsPanel  div.form-group {
  margin-bottom: 5px;
}

#findTrains {
  background-color: $brand-primary;
}
// TrainInputsPanel Form Input


.react-autosuggest {
  @extend .col-sm-11;
}

.react-autosuggest__suggestions {
  list-style-type: none;
  //@extend .col-sm-12;
  z-index: 1000;
  position: absolute;
  top: 100%;
  background-color: white;
  padding: 0;
  width: inherit;
  //left: 0;
  //margin: 5px -15px;
  @include vendor-prefix(box-shadow, 0 15px 50px 10px);
}

.react-autosuggest__suggestion {
  @extend .col-sm-12;

  * {
    height: 35px;
  }

  span {

  line-height: 35px;
  }

  height: 35px;
  border-bottom-color: #DEDEDE;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.react-autosuggest__suggestion--focused {
  background-color: #eee;
}

@media(max-width: $screen-sm-max) {
    .leaflet-container {
        display: none;
    }
    #left-column {
        display: none;
    }
}

@media(max-width: $screen-xs-max) {
    #navbar-footer {
        text-align: center;
    }
}

@media(min-width: $screen-sm-min) {
    #navbar-footer {
        margin-bottom: 0px;
    }
    .footer-icon-a {
        padding-top: 9px!important;
        padding-bottom: 8px!important;
    }
}
.footer-icon {
    font-size: 32px;
}
.leaflet-container {
    position: fixed;
    z-index: 10;
    top: 50px;
    bottom: 50px;
    width: 100%;
}

/*
 * Formatting for d3 histogram
 */
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill:none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.popover-content p {
  text-align: center;
  color: grey;
}

/*
 * Formatting for the train grid
 */

.rowHeader {
  padding-left: 5px;
  padding-right: 5px;
}

tr.selected {
  background-color: #cecece;
}
table.callingPoints {
  background-color: #e6e6e6;
  width: 100%;

  th small {
    font-weight: normal;
  }
}


