// Roboto Font
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
//$font-family-base: 'Raleway', sans-serif;

$brand-primary: #aaaaaa;

$body-bg: #ccc;


@import "bootstrap";


@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
}

#main-container {
    margin-bottom: 50px;
    @media(min-width: $screen-md-min) {
        margin-right: 0;
    }
}

#left-column {
    height: 0px;
}

#right-column {
    z-index: 100;
    padding-top: 20px;
}

.TrainsPanel .panel-body, .InputsPanel .panel-body {
  padding: 5px;
}

.navbar {
    background-color: $brand-primary;
}

#attribution {
  position: absolute;
  top: -40px;
  z-index: 1000;
  height: 40px;
  a {
    height: inherit;
    img {
      padding: 3px;
      height: inherit;
    }
  }
  @media (max-width: $screen-sm-max) {
      left: 50%;
    transform: translate(-50%,0);
    top: -50px;
  }
}

.bottom-navbar {
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 50px;
    z-index: 1030;
    margin-bottom: 0;
    @media(min-width: $screen-md-min) {
        position: fixed;
    }
}

.leaflet-label {
  z-index: 1000 !important;
  border-color: rgba(7, 14, 255, 0.44) !important;
  background: white !important;
}
// Panel > FormGroup

.InputsPanel  div.form-group {
  margin-bottom: 5px;
}

#findTrains {
  background-color: $brand-primary;
}
// TrainInputsPanel Form Input


/*
 * Stations Auto-Suggest.
 */
.react-autosuggest {
  @extend .col-sm-11;
}

.react-autosuggest__suggestions {
  list-style-type: none;
  z-index: 1000;
  position: absolute;
  top: 100%;
  background-color: white;
  width: inherit;
  padding-left: 0px;
  overflow: scroll-y;
  @include vendor-prefix(box-shadow, 0 15px 50px 10px);
}

.react-autosuggest__suggestion {
  padding-left: 15px;
  height: 36px;
  border-bottom: #dedede solid thin;

  * {
    height: 36px;
  }

  span {
    line-height: 36px;
  }

  .suggestion_icon {
      float: right;
      padding-right: 15px;
      height: 36px;
  }
}

.react-autosuggest__suggestion--focused {
  background-color: #eee;
}

@media(max-width: $screen-sm-max) {
    .leaflet-container {
        display: none;
    }
    #left-column {
        display: none;
    }
}

@media(max-width: $screen-xs-max) {
    #navbar-footer {
        text-align: center;
    }
}

@media(min-width: $screen-sm-min) {
    #navbar-footer {
        margin-bottom: 0px;
    }
    .footer-icon-a {
        padding-top: 9px!important;
        padding-bottom: 8px!important;
    }
}
.footer-icon {
    font-size: 32px;
}
.leaflet-container {
    position: fixed;
    z-index: 10;
    top: 50px;
    bottom: 50px;
    width: 100%;
}

/*
 * Formatting for d3 histogram
 */
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill:none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.popover-content p {
  text-align: center;
  color: grey;
}

/*
 * Formatting for the train grid
 */

.rowHeader {
  padding-left: 5px;
  padding-right: 5px;
}

tr.selected {
  background-color: #cecece;
}
table.callingPoints {
  background-color: #e6e6e6;
  width: 100%;

  th small {
    font-weight: normal;
  }
}

.trains-grid-cell-outer-block {
    padding: 2px;
    width: 50px;

    @media(min-width: $screen-md-min) {
        width: 36px;
    }
    @media(min-width: $screen-lg-min) {
        width: 50px;
    }
}

.trains-grid-cell-inner-block {
    width: 48px;
    height: 50px;
    
    @media(min-width: $screen-md-min) {
        width: 34px;
    }
    @media(min-width: $screen-lg-min) {
        width: 48px;
    }
}

.trains-grid-cell-header {
    width: 50px;
    margin: auto;
    text-align: center;

    @media(min-width: $screen-md-min) {
        width: 36px;
    }
    @media(min-width: $screen-lg-min) {
        width: 50px;
    }
}
